{% load i18n lfs_tags %}

<div id="samples-inline">
    <table class="lfs-manage-table" style="margin-top:20px">
        <tr>
            <td width="50%">
                <h2>{% trans "Selectable Samples" %}</h2>
                <form id="add-samples-form"
                      action="{% url lfs_manage_add_samples product.id %}"
                      method="post">

                    <div id="samples-left" style="padding-bottom:10px">
                        <table class="lfs-manage-table">
                            <tr>
                                <th class="checkbox">
                                    <input type="checkbox"
                                           class="select-all"
                                           value="samples" />
                                </th>
                                <th class="middle">
                                    {% trans 'Name' %}
                                </th>
                                <th>
                                    {% trans 'SKU' %}
                                </th>
                                <th class="tiny right-padding">
                                    {% trans 'Active' %}
                                </th>
                            </tr>
                            {% for product in page.object_list %}
                                <tr class="{% cycle 'even' 'odd' %}">
                                    <td>
                                        <input type="checkbox"
                                               name="product-{{ product.id }}"
                                               class="select-samples" />
                                    </td>
                                    <td>
                                        <a href="{% url lfs_manage_product product.id %}">
                                            {{ product.get_name }}
                                        </a>
                                        <div class="product-properties-info">

                                        </div>
                                    </td>
                                    <td>
                                        {{ product.get_sku }}
                                    </td>
                                    <td class="right-padding">
                                        {% if product.is_active %}
                                            <img src="{{ STATIC_URL }}icons/tick.png" />
                                        {% else %}
                                            <img src="{{ STATIC_URL }}icons/cross.png" />
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <input type="hidden"
                           name="keep-filters"
                           value="1" />

                    <input type="submit"
                           class="ajax-save-button button"
                           value="{% trans 'Add to samples' %}" />

                </form>
            </td>
            <td width="50%">
                <h2>{% trans "Selected Samples" %}</h2>
                <form id="remove-samples-form"
                      action="{% url lfs_manage_remove_samples product.id %}"
                      method="post">
                    <div id="samples-right" style="padding-bottom:10px">
                        <table class="lfs-manage-table">
                            <tr>
                                <th class="checkbox">
                                    <input type="checkbox"
                                           class="select-all"
                                           value="selected-samples" />
                                </th>
                                <th class="middle">
                                    {% trans 'Name' %}
                                </th>
                                <th>
                                    {% trans 'SKU' %}
                                </th>
                                <th class="tiny right-padding">
                                    {% trans 'Active' %}
                                </th>
                            </tr>

                            {% for sample in samples %}
                                <tr class="{% cycle 'even' 'odd' %}">
                                    <td>
                                        <input type="checkbox"
                                               name="product-{{ sample.id }}"
                                               class="select-selected-samples" />
                                    </td>
                                    <td>
                                        <a href="{% url lfs_manage_product sample.id %}">
                                            {{ sample.get_name }}
                                        </a>
                                        <div class="product-properties-info">
                                        </div>
                                    </td>
                                    <td>
                                        {{ sample.get_sku }}
                                    </td>
                                    <td class="right-padding">
                                        {% if sample.is_active %}
                                            <img src="{{ STATIC_URL }}icons/tick.png" />
                                        {% else %}
                                            <img src="{{ STATIC_URL }}icons/cross.png" />
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <input type="hidden"
                           name="keep-filters"
                           value="1" />

                    <input type="submit"
                           class="ajax-save-button button"
                           value="{% trans 'Remove from samples' %}" />
                </form>
            </td>
        </tr>
    </table>
</div>
<script>
    align_buttons("#samples");
</script>
