{% load i18n %}
{% load lfs_manage_tags lfs_samples_tags %}

<div id="samples">
  <h2 class="heading-first">{% trans 'Samples' %}</h2>

  <form id="samples-update-form"
        action="{% url lfs_manage_update_is_sample product.id %}"
        method="post">
      <input type="checkbox"
             name="is_sample"
             {% if is_sample %}checked="checked"{% endif %} />
      <label for="is_sample">
          {% trans 'Is sample' %}
      </label>
      <input class="ajax-save-button"
             type="submit" value="{% trans "Update" %}" />
  </form>

  {% if not product.is_sample.exists %}
      <hr style="margin: 20px 0" />
      {% if product.is_variant %}
          <form id="samples-update-form"
                action="{% url lfs_manage_update_samples_state product.id %}"
                method="post">
              <input type="checkbox"
                     name="samples_activity_state"
                     {% if has_active_samples %}checked="checked"{% endif %} />
              <label for="active_samples">
                  {% trans 'Active samples' %}
              </label>
              <input class="ajax-save-button"
                     type="submit" value="{% trans "Update" %}" />
          </form>
          <div class="separator"></div>
      {% endif %}
      {{ samples_inline }}
  {% endif %}
</div>
