{% load i18n lfs_tags %}

<div id="samples-inline">
    <div class="navigation-pages-inline">
        {% if page.has_previous %}
            <a class="ajax-link"
               href="{% url 'lfs_manage_samples_inline' product.id%}?page=1"><img src="{{ STATIC_URL }}lfs/icons/resultset_first.png" alt='{% trans "First" %}' /></a>
            <a class="ajax-link"
               href="{% url 'lfs_manage_samples_inline' product.id%}?page={{ page.previous_page_number }}"><img src="{{ STATIC_URL }}lfs/icons/resultset_previous.png" alt='{% trans "Previous" %}' /></a>
        {% else %}
            <img src="{{ STATIC_URL }}lfs/icons/resultset_first.png" alt='{% trans "First" %}' />
            <img src="{{ STATIC_URL }}lfs/icons/resultset_previous.png" alt='{% trans "Previous" %}' /></span>
        {% endif %}

        <span style="position: relative; top:-4px ">
            {{ page.number }} {% trans "of" %} {{ paginator.num_pages }}
        </span>

        {% if page.has_next %}
            <a class="ajax-link"
               href="{% url 'lfs_manage_samples_inline' product.id%}?page={{ page.next_page_number }}"><img src="{{ STATIC_URL }}lfs/icons/resultset_next.png" alt='{% trans "Next" %}' /></a>
            <a class="ajax-link"
               href="{% url 'lfs_manage_samples_inline' product.id%}?page={{ paginator.num_pages }}"><img src="{{ STATIC_URL }}lfs/icons/resultset_last.png"  alt='{% trans "Last" %}' /></a>

        {% else %}
            <span><img src="{{ STATIC_URL }}lfs/icons/resultset_next.png" alt='{% trans "Next" %}' /></span>
            <span><img src="{{ STATIC_URL }}lfs/icons/resultset_last.png" alt='{% trans "Last" %}' /></span>
        {% endif %}
    </div>
    <table class="lfs-manage-table" style="margin-top:20px">
        <tr>
            <td width="50%">
                <h2>{% trans "Selectable Samples" %}</h2>
                <form id="add-samples-form"
                      action="{% url 'lfs_manage_add_samples' product.id %}"
                      method="post">

                    <div id="samples-left" style="padding-bottom:10px">
                        <table class="lfs-manage-table">
                            <tr>
                                <th class="checkbox">
                                    <input type="checkbox"
                                           class="select-all"
                                           value="samples" />
                                </th>
                                <th class="middle">
                                    {% trans 'Name' %}
                                </th>
                                <th>
                                    {% trans 'SKU' %}
                                </th>
                                <th class="tiny right-padding">
                                    {% trans 'Active' %}
                                </th>
                            </tr>
                            {% for product in page.object_list %}
                                <tr class="{% cycle 'even' 'odd' %}">
                                    <td>
                                        <input type="checkbox"
                                               name="product-{{ product.id }}"
                                               class="select-samples" />
                                    </td>
                                    <td>
                                        <a href="{% url 'lfs_manage_product' product.id %}">
                                            {{ product.get_name }}
                                        </a>
                                        <div class="product-properties-info">
                                            {% include "lfs/catalog/products/_product_properties.html" with product=product %}
                                        </div>
                                    </td>
                                    <td>
                                        {{ product.get_sku }}
                                    </td>
                                    <td class="right-padding">
                                        {% if product.is_active %}
                                            <img src="{{ STATIC_URL }}lfs/icons/tick.png" />
                                        {% else %}
                                            <img src="{{ STATIC_URL }}lfs/icons/cross.png" />
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <input type="hidden"
                           name="keep-filters"
                           value="1" />

                    <input type="submit"
                           class="ajax-save-button button"
                           value="{% trans 'Add to samples' %}" />

                </form>
            </td>
            <td width="50%">
                <h2>{% trans "Selected Samples" %}</h2>
                <form id="remove-samples-form"
                      action="{% url 'lfs_manage_remove_samples' product.id %}"
                      method="post">
                    <div id="samples-right" style="padding-bottom:10px">
                        <table class="lfs-manage-table">
                            <tr>
                                <th class="checkbox">
                                    <input type="checkbox"
                                           class="select-all"
                                           value="selected-samples" />
                                </th>
                                <th class="middle">
                                    {% trans 'Name' %}
                                </th>
                                <th>
                                    {% trans 'SKU' %}
                                </th>
                                <th class="tiny right-padding">
                                    {% trans 'Active' %}
                                </th>
                            </tr>

                            {% for sample in samples %}
                                <tr class="{% cycle 'even' 'odd' %}">
                                    <td>
                                        <input type="checkbox"
                                               name="product-{{ sample.id }}"
                                               class="select-selected-samples" />
                                    </td>
                                    <td>
                                        <a href="{% url 'lfs_manage_product' sample.id %}">
                                            {{ sample.get_name }}
                                        </a>
                                        <div class="product-properties-info">
                                            {% include "lfs/catalog/products/_product_properties.html" with product=sample %}
                                        </div>
                                    </td>
                                    <td>
                                        {{ sample.get_sku }}
                                    </td>
                                    <td class="right-padding">
                                        {% if sample.is_active %}
                                            <img src="{{ STATIC_URL }}lfs/icons/tick.png" />
                                        {% else %}
                                            <img src="{{ STATIC_URL }}lfs/icons/cross.png" />
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <input type="hidden"
                           name="keep-filters"
                           value="1" />

                    <input type="submit"
                           class="ajax-save-button button"
                           value="{% trans 'Remove from samples' %}" />
                </form>
            </td>
        </tr>
    </table>
</div>
<script>
    align_buttons("#samples");
</script>
